.gif-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
}

@media (max-width: 1200px) {
  .gif-container {
    width: 400px !important;
  }
}

@media (max-width: 992px) {
  .gif-container > div {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .gif-container > div {
    width: 40%;
  }
}

@media (max-width: 576px) {
  .gif-container > div {
    width: 30%;
  }
}
